
@{
    ViewBag.Title = "Contacts";
}
<style type="text/css">
    .text-gray {
        color:gray;
        text-decoration:solid;
        text-shadow:1px 1px 1px #808080;
    }
    .no-shadow {
        box-shadow: none;
    }
    .required {
        color:red;
    }
</style>
<h3>Contact</h3>
<div ng-controller="ContactCtrl" ng-init="Init()">
    <div class="InputForm">
        <form id="contactform" name="contactForm" ng-submit="SaveContactDetails()">
            <div class="row">
                <div class="col-md-3">
                    <label for="txtFirstName">First Name</label> <span class="required">*</span>
                    <input type="text" id="txtFirstName" name="txtFirstName" maxlength="40" class="form-control" ng-model="ContactDetails.FirstName" required />
                </div>
                <div class="col-md-3">
                    <label for="txtLastName">Last Name</label> <span class="required">*</span>
                    <input type="text" id="txtLastName" name="txtLastName" maxlength="40" class="form-control" ng-model="ContactDetails.LastName" required />
                </div>
                <div class="col-md-3">
                    <label for="txtEmailId">Email</label> <span class="required">*</span>
                    <input type="email" id="txtEmailId" name="txtEmailId" maxlength="40" class="form-control" ng-model="ContactDetails.EmailId" required />
                </div>
                <div class="col-md-3">
                    <label for="txtMobileNo">Mobile Number</label> <span class="required">*</span>
                    <input type="text" id="txtMobileNo" name="txtMobileNo" maxlength="10" class="form-control" ng-model="ContactDetails.MobileNo" required />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1">
                    <label for="chkIsActive">Active</label>
                    <input type="checkbox" id="chkIsActive" name="chkIsActive" class="form-control no-shadow" ng-model="ContactDetails.IsActive" />
                </div>
                <div class="col-md-1">
                    <label for="chkIsFavourite">Favourite</label>
                    <input type="checkbox" id="chkIsFavourite" name="chkIsFavourite" class="form-control no-shadow" ng-model="ContactDetails.IsFavourite" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1">
                    <input class="btn btn-success" type="submit" value="Submit" />
                </div>
                <div class="col-md-1">
                    <button class="btn" ng-click="ClearForm()">Clear</button>
                </div>
            </div>
        </form>
    </div>
    <br />
    <div class="Grid">
        <div class="row" style="margin-bottom:10px">
            <div class="col-md-7"></div>
            <div class="col-md-3">
                <input type="text" class="form-control" maxlength="30" placeholder="search by Contact no, First name, Last name" ng-model="Param.SearchString" />
            </div>
            <div class="col-md-2 pull-right">
                <a href="#" ng-click="Param.PageIndex = 1;GetContacts()" class="btn btn-info">Search</a>
                <a href="#" ng-click="Param.SearchString = '';GetContacts()" class="btn btn-default">Clear</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">

                    <table class="table table-striped table-bordered table-hover tabel-condensed">

                        <thead>

                            <tr>

                                <th ng-click="SortBy('FirstName')">
                                    First Name
                                    <span ng-show="Param.OrderByField == 'FirstName'" class="text-gray">
                                        <span ng-show="!reverseSort" class="text-gray">^</span>
                                        <span ng-show="reverseSort" class="text-gray">v</span>
                                    </span>
                                </th>
                                <th ng-click="SortBy('LastName')">
                                    Last Name
                                    <span ng-show="Param.OrderByField == 'LastName'" class="text-gray">
                                        <span ng-show="!reverseSort" class="text-gray">^</span>
                                        <span ng-show="reverseSort" class="text-gray">v</span>
                                    </span>
                                </th>
                                <th ng-click="SortBy('MobileNo')">
                                    Contact Number
                                    <span ng-show="Param.OrderByField == 'MobileNo'" class="text-gray">
                                        <span ng-show="!reverseSort" class="text-gray">^</span>
                                        <span ng-show="reverseSort" class="text-gray">v</span>
                                    </span>
                                </th>
                                <th ng-click="SortBy('EmailId')">
                                    Email
                                    <span ng-show="Param.OrderByField == 'EmailId'" class="text-gray">
                                        <span ng-show="!reverseSort" class="text-gray">^</span>
                                        <span ng-show="reverseSort" class="text-gray">v</span>
                                    </span>
                                </th>
                                <th ng-click="SortBy('IsActive')">
                                    Active
                                    <span ng-show="Param.OrderByField == 'IsActive'" class="text-gray">
                                        <span ng-show="!reverseSort" class="text-gray">^</span>
                                        <span ng-show="reverseSort" class="text-gray">v</span>
                                    </span>
                                </th>
                                <th ng-click="SortBy('IsFavourite')">
                                    Favourite
                                    <span ng-show="Param.OrderByField == 'IsFavourite'" class="text-gray">
                                        <span ng-show="!reverseSort" class="text-gray">^</span>
                                        <span ng-show="reverseSort" class="text-gray">v</span>
                                    </span>
                                </th>
                                <th>Action</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr ng-repeat="e in ContactData">

                                <td>{{e.FirstName}}</td>

                                <td>{{e.LastName}}</td>

                                <td>{{e.MobileNo}}</td>

                                <td>{{e.EmailId}}</td>

                                <td><input type="checkbox" class="form-control checkbox-inline no-shadow" ng-model="e.IsActive" ng-click="ActiveInactiveContact(e.ContactId,!e.IsActive)"></td>

                                <td><input type="checkbox" class="form-control checkbox-inline no-shadow" ng-model="e.IsFavourite" ng-click="FavouriteContact(e.ContactId,!e.IsFavourite)"></td>

                                <td>
                                    <button class="btn btn-info" ng-click="EditContact(e.ContactId)">EDIT</button>
                                    <button class="btn btn-danger" ng-click="DeleteContactDetails(e.ContactId)">DELETE</button>
                                </td>
                            </tr>

                            <tr ng-if="ContactData.length == 0">
                                <td colspan="7" class="text-center">
                                    No Data Found
                                </td>
                            </tr>

                        </tbody>

                        <tfoot>

                            <tr ng-if="ContactData.length != 0">

                                <td align="center" colspan="7   ">

                                    <span class="form-group pull-left page-size form-inline">

                                        <select id="ddlPageSize" class="form-control control-color"
                                                ng-model="Param.PageSize"
                                                ng-change="changePageSize()">

                                            <option value="5" selected>5</option>

                                            <option value="10">10</option>

                                            <option value="25">25</option>

                                            <option value="50">50</option>

                                        </select>

                                    </span>
                                    <span style="text-align:center;font-size:15px;">
                                        <a ng-repeat="n in [].constructor(numPages) track by $index" ng-click="Param.PageIndex = $index + 1;pagechanged()">{{ $index + 1 }} </a>
                                    </span>
                                    <div class="pull-right">
                                        @*<pagination total-items="totalcount" ng-change="pagechanged()" items-per-page="Param.PageSize" direction-links="true" ng-model="Param.PageIndex" max-size="maxsize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>*@
                                        <a class="btn btn-primary">Page: {{Param.PageIndex}} / {{numPages}}</a>
                                    </div>

                                    @*<div class="pull-right">
                                        <div data-pagination="ContactData"
                                             data-num-pages="numPages"
                                             data-current-page="Param.PageIndex"
                                             data-max-size="maxsize"
                                             data-boundary-links="true">
                                        </div>
                                    </div>*@
                                </td>

                            </tr>

                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Angular/Controller/ContactCtrl.js"></script>
<script src="~/Angular/Service/ContactService.js"></script>

